output {
  display: inline-block;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  padding: 10px;
}

form {
  margin-left: 20px;
}

label:not([for]) {
  display: inline-block;
  width: 75px;
}

label[for] {
  margin-right: 20px;
}

input,
select {
  margin: 5px;
}

input[type="number"] {
  width: 50px;
}

button {
  padding: 10px;
  display: inline;
  margin-right: 10px;
}
